﻿.login .c-right {
    width: 500px;
    float: none !important;
    padding: 20px 0 30px;
    margin: 0 auto;
    border-left: none !important;
}

.login header {
    padding: 10px 20px;
    background-color: #0a5b92;
}

.login-header .login-title {
    border-left: 9px solid #0a5b92;
    padding-left: 30px;
    margin-left: -1px;
}

.login-body span.adds-on i {
    font-size: 17px;
    color: #444;
}


.login-btn {
    display: block;
    width: 100%;
    border: none;
    background: #0a5b92;
    padding: 11px 10px;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: 0 2px 0 #006DC0;
    -webkit-transition: .2s linear all;
    -moz-transition: .2s linear all;
    -ms-transition: .2s linear all;
    -transition: .2s linear all;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

    .login-btn:hover {
        background: #006DC0;
        -webkit-transition: .2s linear all;
        -moz-transition: .2s linear all;
        -ms-transition: .2s linear all;
        -transition: .2s linear all;
    }

footer {
    background: #0a5b92;
    font-size: 12px !important;
    text-align:;
    position: absolute;
    bottom: 0;
    padding: 5px 0 5px 0;
    color: #006DC0;
    margin-left: 210px;
    right: 0;
    left: 0;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.12);
}

    footer .brand {
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        width: 250px;
        float: left;
    }

    footer .copy-text {
        text-align: left;
        float: none !important;
        display: inline-block;
        font-size: 12px;
        margin: 0px 20px;
        color: #ffffff;
        line-height: 30px;
    }

    footer .bold {
        font-family: "proxima_heavy";
        color: #727272;
    }

ul.contact_address {
    display: inline-block;
    padding: 0px;
    margin: 12px 0px 0px 0px;
}

.contact_address li {
    padding: 0px 5px;
    display: inline-block;
    margin: 0px;
    color: #727272;
    line-height: 25px;
}

    .contact_address li a {
        color: #727272;
    }

        .contact_address li a:hover {
            color: #999;
        }


ul.footer_social_links {
    display: inline-block;
    padding: 0px;
    margin: 12px 0px 0px 0px;
}

.footer_social_links li {
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 24px;
    line-height: 25px;
    vertical-align: middle;
    background-color: #314A87;
    color: #fff;
}

    .footer_social_links li + li {
        background-color: #23BBF4;
    }

        .footer_social_links li + li + li {
            background-color: #D72A25;
        }

            .footer_social_links li + li + li + li {
                background-color: #006DC0;
            }

                .footer_social_links li + li + li + li + li {
                    background-color: #CB2028;
                }

    .footer_social_links li:hover {
        background-color: #1c1f21;
    }

    .footer_social_links li i {
        color: #fff;
    }
