.dxWeb_rpHeaderTopLeftCorner_HB,
.dxWeb_rpHeaderTopRightCorner_HB,
.dxWeb_rpBottomLeftCorner_HB,
.dxWeb_rpBottomRightCorner_HB,
.dxWeb_rpTopLeftCorner_HB,
.dxWeb_rpTopRightCorner_HB,
.dxWeb_rpGroupBoxBottomLeftCorner_HB,
.dxWeb_rpGroupBoxBottomRightCorner_HB,
.dxWeb_rpGroupBoxTopLeftCorner_HB,
.dxWeb_rpGroupBoxTopRightCorner_HB,
.dxWeb_mHorizontalPopOut_HB,
.dxWeb_mVerticalPopOut_HB,
.dxWeb_mVerticalPopOutRtl_HB,
.dxWeb_mSubMenuItem_HB,
.dxWeb_mSubMenuItemChecked_HB,
.dxWeb_mScrollUp_HB,
.dxWeb_mScrollDown_HB,
.dxWeb_tcScrollLeft_HB,
.dxWeb_tcScrollRight_HB,
.dxWeb_tcScrollLeftHover_HB,
.dxWeb_tcScrollRightHover_HB,
.dxWeb_tcScrollLeftPressed_HB,
.dxWeb_tcScrollRightPressed_HB,
.dxWeb_tcScrollLeftDisabled_HB,
.dxWeb_tcScrollRightDisabled_HB,
.dxWeb_nbCollapse_HB,
.dxWeb_nbExpand_HB,
.dxWeb_splVSeparator_HB,
.dxWeb_splVSeparatorHover_HB,
.dxWeb_splHSeparator_HB,
.dxWeb_splHSeparatorHover_HB,
.dxWeb_splVCollapseBackwardButton_HB,
.dxWeb_splVCollapseBackwardButtonHover_HB,
.dxWeb_splHCollapseBackwardButton_HB,
.dxWeb_splHCollapseBackwardButtonHover_HB,
.dxWeb_splVCollapseForwardButton_HB,
.dxWeb_splVCollapseForwardButtonHover_HB,
.dxWeb_splHCollapseForwardButton_HB,
.dxWeb_splHCollapseForwardButtonHover_HB,
.dxWeb_pcCloseButton_HB,
.dxWeb_pcSizeGrip_HB,
.dxWeb_pcSizeGripRtl_HB,
.dxWeb_tvColBtn_HB,
.dxWeb_tvColBtnRtl_HB,
.dxWeb_tvExpBtn_HB,
.dxWeb_tvExpBtnRtl_HB,
.dxWeb_ncBackToTop_HB,
.dxWeb_smBullet_HB,
.dxWeb_tiBackToTop_HB,
.dxWeb_fmFolder_HB,
.dxWeb_fmFolderLocked_HB,
.dxWeb_fmCreateButton_HB,
.dxWeb_fmMoveButton_HB,
.dxWeb_fmRenameButton_HB,
.dxWeb_fmDeleteButton_HB,
.dxWeb_fmRefreshButton_HB,
.dxWeb_fmDwnlButton_HB,
.dxWeb_fmCreateButtonDisabled_HB,
.dxWeb_fmMoveButtonDisabled_HB,
.dxWeb_fmRenameButtonDisabled_HB,
.dxWeb_fmDeleteButtonDisabled_HB,
.dxWeb_fmRefreshButtonDisabled_HB,
.dxWeb_fmDwnlButtonDisabled_HB,
.dxWeb_ucClearButton_HB,
.dxWeb_ucClearButtonDisabled_HB { 
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    display:block;
}
.dxWeb_mScrollUp_HB, .dxWeb_mScrollDown_HB
{
	margin: auto;
}
.dxWeb_ncBackToTop_HB,
.dxWeb_pAll_HB,
.dxWeb_pAllDisabled_HB,
.dxWeb_pPrev_HB,
.dxWeb_pPrevDisabled_HB,
.dxWeb_pNext_HB,
.dxWeb_pNextDisabled_HB,
.dxWeb_pLast_HB,
.dxWeb_pLastDisabled_HB,
.dxWeb_pFirst_HB,
.dxWeb_pFirstDisabled_HB,
.dxWeb_smBullet_HB,
.dxWeb_tiBackToTop_HB
{
	display:inline;
}

.dxWeb_rpHeaderTopLeftCorner_HB {
    background-position: -76px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpHeaderTopRightCorner_HB {
    background-position: -84px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomLeftCorner_HB {
    background-position: -57px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomRightCorner_HB {
    background-position: -65px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopLeftCorner_HB {
    background-position: -38px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopRightCorner_HB {
    background-position: -46px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_HB {
    background-position: -19px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomRightCorner_HB {
    background-position: -27px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopLeftCorner_HB {
    background-position: 0px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopRightCorner_HB {
    background-position: -8px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_mHorizontalPopOut_HB {
    background-position: -92px -40px;
    width: 7px;
    height: 4px;
}

.dxWeb_mVerticalPopOut_HB {
    background-position: -101px -40px;
    width: 4px;
    height: 7px;
}

.dxWeb_mVerticalPopOutRtl_HB {
    background-position: -106px -40px;
    width: 4px;
    height: 7px;
}

.dxWeb_mSubMenuItem_HB {
    background-position: -63px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_mSubMenuItemChecked_HB {
    background-position: -77px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_mScrollUp_HB {
    background-position: -75px -59px;
    width: 18px;
    height: 18px;
}

.dxWeb_mScrollDown_HB {
    background-position: -94px -59px;
    width: 18px;
    height: 18px;
}

.dxWeb_tcScrollLeft_HB {
	background-position: -116px 0px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollRight_HB {
	background-position: -137px 0px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftHover_HB {
	background-position: -116px -16px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightHover_HB {
	background-position: -137px -16px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftPressed_HB {
	background-position: -116px -32px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightPressed_HB {
	background-position: -137px -32px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftDisabled_HB {
	background-position: -116px -48px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightDisabled_HB  {
	background-position: -137px -48px;
    width: 19px;
    height: 15px;
}

.dxWeb_nbCollapse_HB {
    background-position: -101px 0px;
    width: 13px;
    height: 15px;
}

.dxWeb_nbExpand_HB {
    background-position: -101px -16px;
    width: 13px;
    height: 15px;
}

.dxWeb_splVSeparator_HB {
    background-position: -18px -59px;
    width: 6px;
    height: 22px;
}

.dxWeb_splVSeparatorHover_HB {
    background-position: -25px -59px;
    width: 6px;
    height: 22px;
}

.dxWeb_splHSeparator_HB {
    background-position: -33px -59px;
    width: 23px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_HB {
    background-position: -33px -66px;
    width: 23px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_HB {
    background-position: 0px -73px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_HB {
    background-position: 0px -81px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_HB {
    background-position: 0px -59px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_HB {
    background-position: 0px -66px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_HB {
    background-position: -8px -73px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_HB {
    background-position: -8px -81px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_HB {
    background-position: -9px -59px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_HB {
    background-position: -9px -66px;
    width: 7px;
    height: 6px;
}

.dxWeb_pcCloseButton_HB {
    background-position: 0px -40px;
    width: 29px;
    height: 15px;
}

.dxWeb_pcSizeGrip_HB {
    background-position: -34px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_pcSizeGripRtl_HB {
    background-position: -48px -40px;
    width: 13px;
    height: 13px;
}
.dxWeb_tvColBtn_HB {
	background-position: -19px -98px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_HB {
	background-position: -57px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_tvExpBtn_HB {
    background-position: 0px -98px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_HB {
	background-position: -38px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_ncBackToTop_HB {
    background-position: -58px -59px;
    width: 15px;
    height: 15px;
}
.dxWeb_smBullet_HB {
    background-position: -33px -75px;
    width: 8px;
    height: 13px;
}
.dxWeb_tiBackToTop_HB {
    background-position: -58px -59px;
    width: 15px;
    height: 15px;
}

.dxWeb_fmFolder_HB {
	background-position: 0px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmFolderLocked_HB {
	background-position: -20px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButton_HB {
	background-position: -40px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButton_HB {
	background-position: -60px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButton_HB {
	background-position: -80px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButton_HB {
	background-position: -100px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButton_HB {
	background-position: -120px -123px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_HB {
	background-position: 0px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_HB {
	background-position: -20px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButtonDisabled_HB {
	background-position: -40px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButtonDisabled_HB {
	background-position: -60px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButtonDisabled_HB {
	background-position: -80px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_HB {
	background-position: -100px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_HB {
	background-position: -120px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButton_HB {
    background-position: -100px -123px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_HB {
    background-position: -100px -147px;
    width: 16px;
    height: 16px;
}

/* Custom */
.dxWeb_edtCheckBoxChecked_HB 
{
	background-image: url('cbChecked.png');
    background-repeat: no-repeat;
    background-color: White;
    display:block;
}

.dxWeb_pAll_HB,
.dxWeb_pAllDisabled_HB,
.dxWeb_pPrev_HB,
.dxWeb_pPrevDisabled_HB,
.dxWeb_pNext_HB,
.dxWeb_pNextDisabled_HB,
.dxWeb_pLast_HB,
.dxWeb_pLastDisabled_HB,
.dxWeb_pFirst_HB,
.dxWeb_pFirstDisabled_HB 
{
	background-image: url('pcSprite.png');
    background-repeat: no-repeat;
    display:block;
}


.dxWeb_pAll_HB {
    background-position: -14px 0px;
    width: 21px;
    height: 12px;
}

.dxWeb_pAllDisabled_HB {
    background-position: -14px -12px;
    width: 21px;
    height: 12px;
}

.dxWeb_pPrev_HB {
    background-position: -7px 0px;
    width: 7px;
    height: 12px;
}

.dxWeb_pPrevDisabled_HB {
    background-position: -7px -12px;
    width: 7px;
    height: 12px;
}

.dxWeb_pNext_HB {
    background-position: -0px 0px;
    width: 7px;
    height: 12px;
}

.dxWeb_pNextDisabled_HB {
    background-position: -0px -12px;
    width: 7px;
    height: 12px;
}

.dxWeb_pLast_HB {
    background-position: -40px 0px;
    width: 7px;
    height: 12px;
}

.dxWeb_pLastDisabled_HB {
    background-position: -40px -20px;
    width: 7px;
    height: 12px;
}

.dxWeb_pFirst_HB {
    background-position: -20px 0px;
    width: 7px;
    height: 12px;
}

.dxWeb_pFirstDisabled_HB {
    background-position: -20px -20px;
    width: 7px;
    height: 12px;
}