/*html { background:url(../images/bg_body.jpg) repeat 0 0;}*/
html * {
}
/*body {} */

/*#main {  width:980px;  height:1350px; margin:0 auto; position:relative; position:relative; }*/

div#menu {
}

div#copyright {
    font: 11px 'Trebuchet MS';
    color: #222;
    text-indent: 30px;
    padding: 140px 0 0 0;
    text-indent: -999999999999999999px;
}

a {
    outline: 0 none;
}

#treeMenu {
    position: absolute;
    right: auto;
    /*left:15px;
	top:23px;*/
    background: linear-gradient(#003040, #002535) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #012C39;
    width: 100%;
    font: normal 14px 'Segoe UI', Helvetica, Arial, sans-serif;
    /*border:1px solid #ccc;
	border-radius:5px;*/
    z-index: 99;
}

    #treeMenu h2 {
        font: bold 20px 'Segoe UI', Helvetica, Arial, sans-serif;
        color: #454545;
        margin-bottom: 12px;
    }

    #treeMenu ul {
        list-style: none;
    }

        #treeMenu ul li {
            /*overflow:hidden;*/
            background: linear-gradient(#003040, #002535) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
            border-bottom: 1px solid #012C39;
            margin: 0;
        }

            #treeMenu ul li:hover {
                background: linear-gradient(#002535, #003040) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
            }

            #treeMenu ul li span {
                display: inline-block;
                float: right;
                /*background: linear-gradient(#003040, #002535) repeat scroll 0 0 rgba(0, 0, 0, 0) url(../images/treeSplit.png) no-repeat 100% 0 !important ;*/
                background: url(../images/treeSplit.png) no-repeat 100% 0;
                cursor: pointer;
                width: 100%;
            }

                #treeMenu ul li span :hover {
                    background: linear-gradient(#003040, #002535) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                    /*width:90%*/
                }

            #treeMenu ul li a {
                color: #fff;
                font-size: 14px;
                padding: 4px 10px 7px;
                display: inline-block;
                text-decoration: none;
                width: 190px;
                border-bottom: solid 1px #002535;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                float: left;
            }

.aactive {
    background: #035168 !important;
    color: white;
}

.active {
    color: white !important;
}

.divactive {
    display: inherit !important;
    /*background: #0B4A63;*/
}

#treeMenu ul li a img {
    width: 24px;
    height: 24px;
    top: 5px;
    /*position: relative;*/
    margin-right: 2px;
    display: inline-block;
}

#treeMenu ul li span.opened {
    /*background-position:100% -61px;
	background-color:#1A2836;*/
}

#treeMenu ul li div {
    clear: both;
    height: auto;
}

#treeMenu ul li li {
    background: #121F2C;
    margin: 0;
    padding-left: 10px;
    border-bottom: solid 0px #002535;
    border-top: 0px solid rgba(255, 255, 255, 0.1);
    clear: both;
}

    #treeMenu ul li li a {
        color: #9C9FA5;
        font-size: 12px;
        border: 0 none;
        padding: 8px 0;
        float: left;
        width: auto;
    }

        #treeMenu ul li li a:hover {
            text-decoration: none;
            color: #9C9FA5;
        }

    #treeMenu ul li li span {
        float: left;
        display: inline;
        width: 15px;
        height: 20px;
        background-position: -10px -263px;
        cursor: default;
    }

        #treeMenu ul li li span.closed {
            background-position: -10px -126px;
            cursor: pointer;
        }

            #treeMenu ul li li span.closed.opened {
                background-position: -7px -192px;
            }

                #treeMenu ul li li span.closed.opened :hover {
                }

    #treeMenu ul li li li {
        border: 0;
    }
/*new menu*/
.rightPrt {
    position: absolute;
    left: 324px;
    top: 274px;
}

div.link {
    width: 322px;
    height: 255px;
    float: left;
    display: inline;
}

    div.link a {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        outline: none 0;
    }

#treeMenu ul li li:hover {
    background: #f4b567;
}

#treeMenu ul li li li:hover {
    background: #fff;
}
