﻿#dv_feedback_form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

* html form ul {
    /* IE6 Margin Percent Bug for Halves/Thirds */
    width: 99%;
    zoom: 1;
}

#dv_feedback_form li {
    margin: 0;
    padding: 3px 1% 3px 1%;
    clear: both;
    background-color: transparent;
    position: relative; /* Makes Instructs z-index stay on top in IE. */
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}

#dv_feedback_form ul:after, dv_feedback_form li:after, dv_feedback_form li div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#dv_feedback_form li div {
    margin: 0;
    padding: 0;
    color: #444;
}

#dv_feedback_form li span {
    margin: 0 .3em 0 0;
    padding: 0;
    float: left;
    color: #444;
}

/* ----- FLOATS ----- */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both !important;
}

label span, .section span, p span, .likert span {
    display: inline !important;
    float: none !important;
}

/* ----- LABELS ----- */

dv_feedback_form li div label, dv_feedback_form li span label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 12px;
    /*line-height: 160%;*/
    color: #444;
    display: block;
}

fieldset {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

label.label-text, legend.desc {
    font-size: 12px;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
    white-space: normal;
    width: 100%;
}

label.label-text {
    display: block;
    cursor: pointer; /* iPad Label Click Fix */
    font-size: 11px;
    /*line-height: 150%;*/
    margin: -17px 0 0 23px;
    padding: 0 0 3px 0;
    color: #222;
    width: 88%;
}


textarea.textarea {
    width: 293px;
    min-width: 100%; /* IE8 Textarea Scroll Bug */
    max-width: 100%;
}

textarea.small {
    height: 2.5em;
}

textarea.medium {
    height: 6em;
}

textarea.large {
    height: 15em;
}



/* ----- LIKERT SCALE ----- */

dv_feedback_form li.likert {
    margin: 0;
    padding: 4px 1% 5px 1%;
    width: auto !important;
    clear: both !important;
    float: none !important;
}

.likert table {
    margin: 0 0 .9em 0;
    background: #fff;
    width: 100%;
    border: 1px solid #dedede;
    border-bottom: none;
}

.likert caption {
    text-align: left;
    color: #222;
    font-size: 95%;
    line-height: 135%;
    padding: 5px 0 .5em 0;
}

.likert input {
    padding: 0;
    margin: 2px 0;
}

.likert tbody td label {
    font-size: 85%;
    display: block;
    color: #565656;
}

/* ----- Top Row ----- */

.likert thead td, .likert thead th {
    background-color: #e6e6e6;
}

/* ----- Right Side ----- */

.likert td {
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 4px 6px;
}

.likert thead td {
    font-size: 12px;
    padding: 10px 6px;
}

/* ----- Body ----- */

.likert th, .likert td {
    border-bottom: 1px solid #dedede;
}

.likert tbody th {
    padding: 8px 8px;
    text-align: left;
}

    .likert tbody th label {
        color: #222;
        font-size: 95%;
        font-weight: bold;
    }

.likert tbody tr.alt td, .likert tbody tr.alt th {
    background-color: #f5f5f5;
}

.likert tbody tr:hover td, .likert tbody tr:hover th {
    background-color: #FFFFCF;
}

