﻿.ui-widget
{
	font-family: Verdana,Arial,sans-serif !important;
	font-size: 14px !important;
    z-index: 9999;
}

.ui-widget-content
{
	background: #F9F9F9 !important;
	border: 1px solid #f78828;
	color: #222222 !important;
}

.ui-dialog
{
	left: 0;
	outline: 0 none;
	padding: 0 !important;
	position: absolute;
	top: 0;
    z-index:9999;
}

#success
{
	padding: 0;
	margin: 0;
}

.ui-dialog .ui-dialog-content
{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	overflow: auto;
	position: relative;
	padding: 2px; /*!important;*/
	margin-top: 5px;
}

.ui-widget-header
{
	background: #f78828;
	border: 0;

	color: #222222;
	font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar
{
	padding: 0.1em .5em;
	position: relative;
	font-size: 1em;
	padding-left: 35%;
}
